# Working with relational databases

### Plan
1. Relational databases and SQL language
1. SQLite3
1. PostgreSQL + psycopg2
1. ORM. [SQLAlchemy](http://www.sqlalchemy.org)

### Relational database

Relational databases:
  * Related information stored in two-dimensional tables
  * Each table is a set of fields (columns) and a set of objects (records)
  * The order of the records is arbitrary, the order of columns is fixed
  * Records are identified using primary keys

In short, relational databases are interconnected tables with indexes for quick search

### SQL language

* [Structured Query Language](https://en.wikipedia.org/wiki/SQL)
* Standardized, but databases try to comply with the ANSI standard without allowing it to limit them too much
* Types: Numbers (INTEGER and DECIMAL), strings (CHAR, VARCHAR), etc.
* Operators: SELECT FROM, WHERE, GROUP BY, COUNT, HAVING, etc.
* Joins: Inner join, outer join, etc.
* Subqueries
* Modification commands: INSERT, DELETE, UPDATE
* Table creation

### SQLite3

<img src='pictures/sqlite.png' />

* The easiest way to use a database
* The entire database is stored in one file
* A great way to have a database in mobile applications
* Command line access: sqlite3 filename
* API for Python, C ++, etc.

#### Let's try to execute a simple query

In [18]:
import sqlite3

# Connect to the base
conn = sqlite3.connect('example.db')

# Object for executing SQL queries over the database
cur = conn.cursor()

# Executing a query
cur.execute('select 1')

# Read the result. fetchone expects a single line
print(cur.fetchone())

# Closing the connection
conn.close()

(1,)

Do not forget to close the connection! <br>
** Connection is a resource that may end. ** <br>
Context managers will help us with this.

In [34]:
# Now the connection to the database will close automatically.
with sqlite3.connect('example.db') as conn:
    

    cur = conn.cursor()


    cur.execute("select 'Hello, world!', 6 * 7")


    print(cur.fetchone())

('Hello, world!', 42)

Establishing a connection can be an expensive operation. <br>
You should not create a connection for each request. If possible, reuse the old one.

#### Now let's see how to work with sqlite3 using an example of a simple database with users. <br>
First, create the tables:

In [46]:
def create_tables(cur, conn):
    # Removing old tables if they exist
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # Executing queries for table creation
    cur.execute('''
        CREATE TABLE user_types (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR(255)
        )''')
    cur.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )''')
    
    # Send the current transaction.
    # If not done, then the changes will not be visible in other connections
    # Closing a connection does not cause commit automatically!
    conn.commit()

Working with empty tables is not very interesting, let's fill them

In [47]:
def add_user_types(cur):
    cur.execute('''INSERT INTO user_types (name) VALUES ('Student')''')
    cur.execute('''INSERT INTO user_types (name) VALUES ('Teacher')''')

def add_teachers(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Maxim', 'Popov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Igor', 'Orlov', '1', 
                (SELECT id FROM user_types WHERE name = 'Teacher'))''')

def add_strudents(cur):
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Ivan', 'Ivanov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Petrov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')
    cur.execute('''
        INSERT INTO users (first_name, last_name, active, profile) VALUES 
            ('Petr', 'Sidorov', '0', 
                (SELECT id FROM user_types WHERE name = 'Student'))''')

Let's execute the queries

In [48]:
with sqlite3.connect('example.db') as conn:

    cur = conn.cursor()
    
    # The function of creating tables commits the transaction immediately.
    create_tables(cur, conn)
    
    # Functions for adding users do not call commit.
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    
    #Make commit for all add requests.
    # If we forget, then the tables will remain empty.
    conn.commit()

Now let's try to read all the students

In [49]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # Get all rows of query result
    # This is not always fast, especially if there are a lot of results.
    # Also, a lot of memory consumption since list is returned
    rows = cur.fetchall() 

    # Like fetchall, we just set how much we want to get
    # rows = cur.fetchmany(10) 

    for row in rows:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

In [50]:
def select_all_students(conn):
    query = '''SELECT users.first_name, users.last_name 
               FROM users 
               WHERE profile = (SELECT id FROM user_types WHERE name = 'Student')'''
    cur = conn.cursor()
    cur.execute(query)

    # Better to just iterate
    for row in cur:
        first_name, last_name = row
        print(first_name, last_name)
        
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

Let's try to take teacher Maxim Popov and make him a student

In [51]:
def alter_teacher(conn):
    cur = conn.cursor()
    cur.execute('''UPDATE users SET profile = (SELECT id FROM user_types WHERE name = "Student")
                   WHERE first_name = "Maxim" AND last_name = "Popov"
    ''')

with sqlite3.connect('example.db') as conn:
    alter_teacher(conn)

Let's look at the result

In [52]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

Maxim Popov
Ivan Ivanov
Petr Petrov
Petr Sidorov

Create a function to add all students at once!

In [53]:
def add_strudents(conn, students):
    queries = []
    
    for student in students:
        query = '''
            INSERT INTO users (first_name, last_name, active, profile) VALUES 
                ("{}", "{}", 0, 
                    (SELECT id FROM user_types WHERE name = "Student"));'''
        queries.append(query.format(*student))
    
    cur = conn.cursor()
    # Executes several queries at once, separated by ';'
    cur.executescript(''.join(queries))

In [54]:
with sqlite3.connect('example.db') as conn:
    students = [('Vladimir', 'Vladimirov'), ('Dmitry', 'Dmitriev')]
    add_strudents(conn, students)
    
    # Checking
    select_all_students(conn)

Maxim Popov
Ivan Ivanov
Petr Petrov
Petr Sidorov
Vladimir Vladimirov
Dmitry Dmitriev

Everything works great!

In [55]:
with sqlite3.connect('example.db') as conn:
    students = [('cool', 'hacker", 0, 0); drop table users; --')]
    add_strudents(conn, students)

OperationalError: near "(": syntax error

In [56]:
with sqlite3.connect('example.db') as conn:
    select_all_students(conn)

OperationalError: no such table: users

Where is my table, Lebowski???

<img src="https://imgs.xkcd.com/comics/exploits_of_a_mom.png">

# Working with < your favorite base name >

Almost no difference from SQLite. *

\* In case [Python DB API 2.0](https://www.python.org/dev/peps/pep-0249/) is supported

PostgreSQL: [psycopg2](http://initd.org/psycopg/)
<img src="pictures/postgresql.jpg">

In [62]:
#postgreSQL
try:
    import psycopg2
except:
    !pip3 install psycopg2-binary

#MySQL
try: 
    import pymysql
except:
    !pip3 install pymysql

In [ ]:
# The connection method has changed.
# Now we specify not the file, but the host, database, user and password.
# For this to work, psqld or mysqld must be running.
# Also, you need to create a database and a user with a password.
with psycopg2.connect(dbname='testdb', user='testuser', 
                      host='localhost', password='testuser') as conn:
    
    # And the rest of the interface is preserved.
    cur = conn.cursor()
    cur.execute("select 'Hello, world!', 6 * 7")
    print(cur.fetchone())
    
    
    
with pymysql.connect(db='testdb', user='testuser', 
                      host='localhost', password='testuser') as conn:
    
    conn.execute("select 'Hello, world!', 6 * 7")
    print(conn.fetchone())

Creating tables

In [153]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    
    cur = conn.cursor()
    
    cur.execute('DROP TABLE IF EXISTS users')
    cur.execute('DROP TABLE IF EXISTS user_types')
    
    # SQL dialect may slightly vary 
    # Use the SERIAL type instead of the AUTOINCREMENT property
    cur.execute('''
        CREATE TABLE user_types (
            id SERIAL PRIMARY KEY,
            name VARCHAR(255)
        )
    ''')
    cur.execute('''
        CREATE TABLE users (
            id SERIAL PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            active BOOLEAN,
            profile INTEGER,
            FOREIGN KEY(profile) REFERENCES user_types(id)
        )
    ''')

Many queries work unchanged.

In [154]:
with psycopg2.connect(dbname='testdb', user='testuser', host='localhost', password='testuser') as conn:
    cur = conn.cursor()
    
    add_user_types(cur)
    add_teachers(cur)
    add_strudents(cur)
    conn.commit()
    
    select_all_students(conn)

Ivan Ivanov
Petr Petrov
Petr Sidorov

# SQLAlchemy (ORM)

<img src='pictures/sql_alchemy.png' />

In [64]:
import sqlalchemy
from sqlalchemy import create_engine

In [65]:
#dialect+driver://username:password@host:port/database
engine = create_engine('sqlite:///example_alchemy.db', echo=True)
# engine = create_engine('sqlite:///:memory:', echo=True)

# echo=True - for additional logging

#### Let's describe the data we want to store

In [66]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Boolean, ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class UserType(Base):
    __tablename__ = 'user_types'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    users = relationship("User")
    
    def __repr__(self):
        return "<UserType(name={})>".format(self.name)  

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    active = Column(Boolean)
    profile_id = Column(Integer, ForeignKey('user_types.id'))
    profile = relationship("UserType", back_populates="users")
    
    def __repr__(self):
        return "<User(first_name={}, last_name={}, active={})>"\
            .format(self.first_name, self.last_name, self.active)

In [67]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('first_name', String(), table=<users>), Column('last_name', String(), table=<users>), Column('active', Boolean(), table=<users>), Column('profile_id', Integer(), ForeignKey('user_types.id'), table=<users>), schema=None)

#### Creating tables in the database

In [68]:
Base.metadata.create_all(engine)

2019-11-13 18:23:45,192 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-13 18:23:45,195 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,198 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-13 18:23:45,200 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,203 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2019-11-13 18:23:45,205 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,207 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2019-11-13 18:23:45,209 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,212 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user_types")
2019-11-13 18:23:45,216 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,218 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("user_types")
2019-11-13 18:23:45,221 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,225 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user_types (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2019-11-13 18:23:45,239 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,248 INFO sqlalchemy.engine.base.Engine COMMIT
2019-11-13 18:23:45,252 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	first_name VARCHAR,
	last_name VARCHAR,
	active BOOLEAN,
	profile_id INTEGER,
	PRIMARY KEY (id),
	CHECK (active IN (0, 1)),
	FOREIGN KEY(profile_id) REFERENCES user_types (id)
)


2019-11-13 18:23:45,254 INFO sqlalchemy.engine.base.Engine ()
2019-11-13 18:23:45,258 INFO sqlalchemy.engine.base.Engine COMMIT

Inserting data

In [69]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

student = UserType(name='student')
session.add(student)

teacher = UserType(name='teacher')
session.add(teacher)

session.commit()

2019-11-13 18:24:04,492 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-13 18:24:04,495 INFO sqlalchemy.engine.base.Engine INSERT INTO user_types (name) VALUES (?)
2019-11-13 18:24:04,497 INFO sqlalchemy.engine.base.Engine ('student',)
2019-11-13 18:24:04,499 INFO sqlalchemy.engine.base.Engine INSERT INTO user_types (name) VALUES (?)
2019-11-13 18:24:04,501 INFO sqlalchemy.engine.base.Engine ('teacher',)
2019-11-13 18:24:04,505 INFO sqlalchemy.engine.base.Engine COMMIT

Let's find the teacher type

In [74]:
res = session.query(UserType).filter_by(name='teacher').first() 
res

2019-11-13 18:25:04,167 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.name = ?
 LIMIT ? OFFSET ?
2019-11-13 18:25:04,169 INFO sqlalchemy.engine.base.Engine ('teacher', 1, 0)

In [75]:
teacher is res

True

one vs first

In [76]:
session.query(UserType).filter_by(name='teacher12').one()

2019-11-13 18:25:10,095 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.name = ?
2019-11-13 18:25:10,097 INFO sqlalchemy.engine.base.Engine ('teacher12',)

NoResultFound: No row was found for one()

In [77]:
session.query(UserType).one()

2019-11-13 18:25:14,231 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
2019-11-13 18:25:14,235 INFO sqlalchemy.engine.base.Engine ()

MultipleResultsFound: Multiple rows were found for one()

Different types of "select"

In [11]:
results = session.query(UserType).order_by(UserType.id).all()
print(type(results))
print(results)

2019-04-10 18:05:19,019 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types ORDER BY user_types.id
2019-04-10 18:05:19,022 INFO sqlalchemy.engine.base.Engine ()
<class 'list'>
[<UserType(name=student)>, <UserType(name=teacher)>]

In [78]:
for name, user_id in session.query(UserType.name, UserType.id).order_by(UserType.name):
    print(name, user_id)

2019-11-13 18:26:03,694 INFO sqlalchemy.engine.base.Engine SELECT user_types.name AS user_types_name, user_types.id AS user_types_id
FROM user_types ORDER BY user_types.name
2019-11-13 18:26:03,697 INFO sqlalchemy.engine.base.Engine ()
student 1
teacher 2

#### Adding a new teacher

In [79]:
user = User(first_name="Maxim", last_name="Popov", active=True)
teacher.users.append(user)
session.add(user)
session.commit()

2019-11-13 18:26:24,319 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2019-11-13 18:26:24,325 INFO sqlalchemy.engine.base.Engine (2,)
2019-11-13 18:26:24,331 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name, active, profile_id) VALUES (?, ?, ?, ?)
2019-11-13 18:26:24,333 INFO sqlalchemy.engine.base.Engine ('Maxim', 'Popov', 1, 2)
2019-11-13 18:26:24,336 INFO sqlalchemy.engine.base.Engine COMMIT

In [80]:
res = session.query(User).first() 
res

2019-11-13 18:26:28,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-13 18:26:28,996 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
 LIMIT ? OFFSET ?
2019-11-13 18:26:28,998 INFO sqlalchemy.engine.base.Engine (1, 0)

In [81]:
res.profile

2019-11-13 18:26:30,342 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:26:30,346 INFO sqlalchemy.engine.base.Engine (2,)

Adding a student

In [82]:
user = User(first_name="Petr", last_name="Sidorov", active=False, profile=student)
session.add(user)
session.commit()

2019-11-13 18:26:40,177 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:26:40,179 INFO sqlalchemy.engine.base.Engine (1,)
2019-11-13 18:26:40,182 INFO sqlalchemy.engine.base.Engine INSERT INTO users (first_name, last_name, active, profile_id) VALUES (?, ?, ?, ?)
2019-11-13 18:26:40,183 INFO sqlalchemy.engine.base.Engine ('Petr', 'Sidorov', 0, 1)
2019-11-13 18:26:40,186 INFO sqlalchemy.engine.base.Engine COMMIT

In [83]:
student.users

2019-11-13 18:26:50,693 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-13 18:26:50,696 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:26:50,699 INFO sqlalchemy.engine.base.Engine (1,)
2019-11-13 18:26:50,703 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2019-11-13 18:26:50,708 INFO sqlalchemy.engine.base.Engine (1,)

Make him a tacher

In [84]:
user.profile = teacher
session.commit()

2019-11-13 18:27:05,409 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:27:05,417 INFO sqlalchemy.engine.base.Engine (2,)
2019-11-13 18:27:05,421 INFO sqlalchemy.engine.base.Engine UPDATE users SET profile_id=? WHERE users.id = ?
2019-11-13 18:27:05,424 INFO sqlalchemy.engine.base.Engine (2, 2)
2019-11-13 18:27:05,430 INFO sqlalchemy.engine.base.Engine COMMIT

In [85]:
student.users

2019-11-13 18:27:12,347 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-13 18:27:12,358 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:27:12,359 INFO sqlalchemy.engine.base.Engine (1,)
2019-11-13 18:27:12,363 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2019-11-13 18:27:12,365 INFO sqlalchemy.engine.base.Engine (1,)

[]

In [86]:
teacher.users

2019-11-13 18:27:14,750 INFO sqlalchemy.engine.base.Engine SELECT user_types.id AS user_types_id, user_types.name AS user_types_name
FROM user_types
WHERE user_types.id = ?
2019-11-13 18:27:14,754 INFO sqlalchemy.engine.base.Engine (2,)
2019-11-13 18:27:14,757 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE ? = users.profile_id
2019-11-13 18:27:14,759 INFO sqlalchemy.engine.base.Engine (2,)

[<User(first_name=Maxim, last_name=Popov, active=True)>,
 <User(first_name=Petr, last_name=Sidorov, active=False)>]

Ways of filtering

In [87]:
# equals
session.query(UserType).filter(UserType.name == 'teacher')
# not equals
session.query(UserType).filter(UserType.name != 'teacher')
# LIKE
session.query(UserType).filter(UserType.name.like('%tea%'))
# ILIKE (case-insensitive LIKE):
session.query(UserType).filter(UserType.name.ilike('%TeA%'))
# IS NULL
session.query(UserType).filter(UserType.name.is_(None))
# IS NOT NULL
session.query(UserType).filter(UserType.name.isnot(None))
              
from sqlalchemy import and_
#AND
session.query(UserType).filter(and_(UserType.name.isnot(None), UserType.name != 'abc'))
session.query(UserType).filter(UserType.name.isnot(None), UserType.name != 'abc')
session.query(UserType).filter(UserType.name.isnot(None)).filter(UserType.name != 'abc')

#OR
from sqlalchemy import or_
session.query(UserType).filter(or_(UserType.name.isnot(None), UserType.name != 'abc'))

In [88]:
#IN
session.query(User).filter(User.profile_id.in_(
    session.query(UserType.id)
)).all()

2019-11-13 18:28:42,010 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.first_name AS users_first_name, users.last_name AS users_last_name, users.active AS users_active, users.profile_id AS users_profile_id
FROM users
WHERE users.profile_id IN (SELECT user_types.id AS user_types_id
FROM user_types)
2019-11-13 18:28:42,014 INFO sqlalchemy.engine.base.Engine ()

[<User(first_name=Maxim, last_name=Popov, active=True)>,
 <User(first_name=Petr, last_name=Sidorov, active=False)>]